# global owners
* @chgennar @nonsocode @juancooldude @reddydMSFT @rafarhat

# owners of integration lab
.integration-lab/ @tommo-ms @chgennar

# owners of clean up tool
tools/cleanup-cluster/ @zzcodework
